@model List<MysHesap.Models.kesintiAltTuruIkinciAsama>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>birinci</title>



    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css" type="text/css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css" type="text/css" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" type="text/css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/dataTables.jqueryui.min.css" type="text/css" />



    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/dataTables.jqueryui.min.js"></script>






</head>
<body>
    <div class="container-fluid">
        <div class="row" style="margin: 20px">
            <table id="kesintiki" class="display">
                <thead>
                    <tr>
                        <th>Kesinti Türü ID</th>
                        <th>Kesinti Türü Adı</th>
                        <th>Durumu</th>
                        <th>Bütçe Türü</th>
                        
                    </tr>
                </thead>
                <tbody>
                    @foreach (var bir in Model)
                    {
                        <tr>
                            <td>@bir.ID</td>
                            <td>@bir.kesintiTuruAdi</td>
                            <td>@bir.Durumu</td>
                            <td>@bir.ButceTuru</td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>

        <div class="col-md-12">
            <div style="float:left" class="col-md-6">@Html.ActionLink("Kesinti Alt Türü (1.Aşama)", "kesbir", new { }, new { @class = "btn btn-primary" })</div>
        </div>


    </div>


    <script>

    $('#kesintiki').DataTable({
        "language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json",
        },

        "bAutoWidth": false


    });

    </script>




</body>
</html>
